
@font-face {
  font-family: 'Santana';
  src: url('Santana.eot?#iefix') format('embedded-opentype'),  url('Santana.woff') format('woff'), url('Santana.ttf')  format('truetype'), url('Santana.svg#Santana') format('svg');
  font-weight: normal;
  font-style: normal;
}
