
@font-face {
  font-family: 'Santana-Black';
  src: url('Santana-Black.eot?#iefix') format('embedded-opentype'),  url('Santana-Black.woff') format('woff'), url('Santana-Black.ttf')  format('truetype'), url('Santana-Black.svg#Santana-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
