
@font-face {
  font-family: 'Santana-RegularCondensed';
  src: url('Santana-RegularCondensed.eot?#iefix') format('embedded-opentype'),  url('Santana-RegularCondensed.woff') format('woff'), url('Santana-RegularCondensed.ttf')  format('truetype'), url('Santana-RegularCondensed.svg#Santana-RegularCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
