
@font-face {
  font-family: 'SemplicitaPro-SemibdIt';
  src: url('SemplicitaPro-SemibdIt.eot?#iefix') format('embedded-opentype'),  url('SemplicitaPro-SemibdIt.otf')  format('opentype'),
	     url('SemplicitaPro-SemibdIt.woff') format('woff'), url('SemplicitaPro-SemibdIt.ttf')  format('truetype'), url('SemplicitaPro-SemibdIt.svg#SemplicitaPro-SemibdIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
