
@font-face {
  font-family: 'Santana-Bold';
  src: url('Santana-Bold.eot?#iefix') format('embedded-opentype'),  url('Santana-Bold.woff') format('woff'), url('Santana-Bold.ttf')  format('truetype'), url('Santana-Bold.svg#Santana-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
