
@font-face {
  font-family: 'Santana-BlackCondensed';
  src: url('Santana-BlackCondensed.eot?#iefix') format('embedded-opentype'),  url('Santana-BlackCondensed.woff') format('woff'), url('Santana-BlackCondensed.ttf')  format('truetype'), url('Santana-BlackCondensed.svg#Santana-BlackCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
